body
{
	
	font-family:Arial,Verdana,Helvetica,sans-serif;
	vertical-align:top;

}

em 
{
   font-size:8pt;
}
span 
{
	
}
h2 {
	font-size:9pt;
	font-weight:bold;
	
}
div.contentBody
 {
 	
}
div.contentHeading {

	
}
div.contentForm
 {
 	
}
div.contentMsg
 {
 	
} 
 div.contentProgress
 {
 	
}
div.contentBtn
 {
 	
} 

div.contentSubHeading h2 {
/*	font-family:Tahoma,sans-serif;*/
	font-size:8pt;	
	font-weight:bold;
	
}
div.contentGrid
 {
 	
}

.divLeft
{
	
}
.divRight
{
	
}

div{
   font-size:10pt;
}

div#rightContent.div 
{
	
}	
div.clear {
	font-size:0;

}
element.style {

}

#header {

}


#companyLogo {

}

#welcome
{

	font-size:8pt;
	font-weight:normal;
}
/* global links */
#globalLink
{

}
#globalLink ul 
{

}
#globalLink ul li
{

}
#globalLink ul li a 
{

}



#globalLink ul li:hover ul,
#globalLink ul a:hover ul
{
  
}

/* module list in header */
#globalNav {
	
	
}
#globalNav > ul:first-child {
	
}

#globalNav ul {
	
}
#globalNav ul li {
	
	font-weight:bold;
	
	
}


#globalNav ul li  a.currentTab{
	font-weight:bold;
}	
 #globalNav ul li	a:hover {
 	
	font-weight:bold;
}


#globalNav ul li a {
	font-weight:bold;
}

#globalNav > ul > li {

}

#globalNav > ul > li {

}

#globalNav > ul > li.noBorder {

}

/* subGlobalNav */
#subGlobalNav {
}

#subGlobalNav {
}

#subGlobalNav {

}

#globalNav ul li, #subGlobalNav span {
	font-size:8pt;
}
#subGlobalNav span {

}

#subGlobalNav li, #subGlobalNav ul {

}


/* ul li  a */
blockquote, ul, ol, dl {

}

ul, menu, dir {

}
ul {

}
li {

}
ul li 	 
{

}
a:link, a:visited, a:hover {
	
}

a.utilityLink:link, a.utilityLink:visited {
	font-size:11px;
	font-weight:normal;
}


/****** body ********/
#leftBar{

}
#leftBar h3, #HideMenu h3 {

}
.leftList ul {
	font-size:8pt;
}	
.leftList ul li a 	  
{

}
.leftList ul li a:hover, .leftList ul li span:hover {
	
}

div#rightContent {
		
}


/*** Error/message box***/
.EmptyData
{
	font-size:8pt;
	
	
}

#myErrorBox
{
	font-size:8pt;

}

#myMessageBox
{


	
}

div.myFooterMsgBox
{
	font-size:8pt;

} 
div > div.myFooterMsgBox  
{
	
}
div > div.myFooterMsgBox  
{
	
}
input
{
	color: #000000;
	font-size:10pt;	
}
textarea 
{
	font-size:10pt;

}	
select
{
	font-size:10pt;	
	
}

input.error,textarea.error,select.error 
{

}

.error
{
	font-size:8pt;
	vertical-align:top;
}