
#Header {
 width: 100%;
 display:inline-block;
 background-color:#FFFFFF;
 border-bottom:1px solid #DCDCDC;

}


#CompanyLogo {

	float:left;
	margin-bottom:2px;
	 height:82px;

	vertical-align:bottom;
	clear:none;
}

#Welcome
{
	
	vertical-align:middle;
	float:right;
	clear:none;	

}
#GlobalBar{
	background-image: url(../images/middle_bg.gif);
	padding:4px 10px 5px;
	color:#E3E3E3;
	clear:both;
	font-weight:bold;

}

/* Global links */
#GlobalLink
{
    padding: 8px 10px 3px 10px;
    vertical-align: middle;
    float:right;
    clear:none;
}
#GlobalLink ul 
{
	list-style: none;
    padding: 0;
    margin: 0;
}
#GlobalLink ul li
{
    float: left;
    margin: 0 0.15em;
    display:block;
}
#GlobalLink ul li a 
{
   
}



#GlobalLink ul li:hover ul,
#GlobalLink ul a:hover ul
{
    visibility:visible; 
}
